#root {
  background-color: rgb(241, 237, 239);
}
.container{
  margin-top: 40px;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
.row{
  margin-top: -25px;
}